#button-1 {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 10px 25px;
    font-weight: 600;
}

#button-1:hover {
    background-color: var(--accent-color);
    border-color: #6B0000;
}